*{
  margin: 0;
  padding: 0;
}
.product-container{
  width: 100%;
  max-width: 750px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}
.product-header{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid black;
}
.title{
  width: 40%;
  align-items: center;
}
.price{
  width: 20%;
  align-items: center;
}
.quantity{
  width: 15%;
  align-items: center;
}
.total{
  width: 25%;
  align-items: flex-end;
}
.products ul li{
  text-align: start;
}
.products{
  height: 100%;
  width: 100%;
}
.products ul{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.products ul li:nth-child(1){
  width: 15%;
}
.products img{
  width: 100%;
}
.products ul li:nth-child(2){
  width: 25%;
}
.products ul li:nth-child(3){
  width: 20%;
}
.products ul li:nth-child(4){
  width: 15%;
}