@media (max-width: 800px) {
    .search-box {
        width: 450px;
        height: 40px;
    }
    .shop-banner {
        margin: 50px auto;
        font-size: 15px;
        width: 90%;
    }
    .product-body {
        width: 90%;
    }
    .brand {
        width: 130px;
    }
    .shop-banner {
        position: relative;
        margin: 30px auto;
        width: 90%;
        height: 45vh;
        background-color: antiquewhite;
    }
    .menu {
        width: 100%;
        height: 10%;
        display: block;
    }
    .menu ul {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .menu ul li {
        height: 100%;
        width: 12.5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu ul li:hover {
        border: none;
        background: rgb(237, 224, 218);
    }
    .submenu {
        display: none;
    }
    .menu ul li:hover .submenu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100%;
        bottom: 0;
        left: 0;
    }
    .submenu ul{
        display: flex;
        justify-content: flex-start;
    }
    .submenu ul li {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
        color: black;
    }
    .fa-angle-left {
        display: none;
    }
    .menu ul li:hover .submenu {
        box-shadow: 1px 1px 1px 2px rgb(185, 176, 176);
        display: block;
        background-color: white;
        z-index: 1;
        height: 5vh;
    }
    .menu .submenu ul a:hover {
        color: rgb(219, 118, 88);
    }
    .image-container {
        display: block;
        width: 100%;
        height: 90%;
        overflow: hidden;
    }
    .imageBox {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .imageBox img {
        opacity: 0;
        transition: 3s ease-in-out;
        background-position: center;
        position: absolute;
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    .imageBox img.active {
        opacity: 1;
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    .button-slider {
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        width: 95%;
    }
}