@keyframes search-div{
    0% {background-color: crimson;}
    25% {background-color: lightsalmon;}
    50% {background-color: pink;}
    100% {background-color: indigo;}
}
@keyframes flashy-text{
	0% {color: rgb(252, 19, 3);} 
    50% {color: rgb(227, 204, 32);} 
    100%{color: rgb(230, 55, 212);} 
}
a{
	text-decoration: none;
}
*{ 
    margin: 0;
	padding: 0;
}
body{
	background-color: rgb(237, 237, 237);
}
.utility{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-around;
}
.fa-sign-in-alt{
	float: right;
	margin-left: 10px;
	margin-top: 2px;
}
.search-body{
	display: flex;
	position: sticky;
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: rgb(230, 109, 39);
	animation: search-div 5s linear infinite;
	z-index: 1;
	justify-content: space-around;
	align-items: center;
}
a img{
	width: 100px;
}
.search-box{
	width: 700px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	display: flex;
}
.search-bar{
	border: none;
	outline: none;
	width: 655px;
	height: 35px;
	border-radius: 10px;
	padding-left: 10px;
	font-size: 15px;
	align-self: center;
}
.fa-search{
	border-radius: 0 10px 10px 0;
	background-color: orange;
	display: flex;
	color: black;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.fa-shopping-cart{
	font-size: 35px;
	color: white;
}
.shop-start{
	margin-top: 15px;
	position: relative;
	width: 68%;
	height: 228px;
	left: 50%;
	transform: translate(-50%,0);
}
.image{
	display: block;
	float: right;
	width: 89%;
	height: 228px;
}
.image img{
	object-fit: fill;
	width: 100%;
	height: 100%;
}
.fa-angle-right{
	float: right;
	margin: 1px;
}
.menu{
	display: block;
	float: left;
	width: 11%;
	height: 228px;
	background-color: white;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	padding: 5px;
	text-align: left;
}
.menu ul li:hover{
	background: rgb(237, 224, 218);
	border-left: 3px solid orange;
}
.submenu-1{
	display: none;
}
.menu ul li:hover .submenu-1{
	box-shadow: 5px rgb(211, 214, 219, 0.9);
	display: block;
	position: absolute;
	left: 110px;
	top: 0;
	background-color: white;
}
.menu ul li:hover .submenu-1 ul li{
	width: 100px;
}
.submenu-2{
	display: none;
}
.menu ul li:hover .submenu-2{
	display: block;
	position: absolute;
	left: 110px;
	top: 0;
	background-color: white;
}
.menu ul li:hover .submenu-2 ul li{
	width: 100px;
}
.submenu-3{
	display: none;
}
.menu ul li:hover .submenu-3{
	display: block;
	position: absolute;
	left: 110px;
	top: 0;
	background-color: white;
}
.menu ul li:hover .submenu-3 ul li{
	width: 100px;
}
.grid-container{
	display: grid;
	grid-template-columns: repeat(4,250px);
	grid-template-rows: repeat(3,300px);
	grid-gap: 10px;
	justify-content: center;
}
.grid-item-1{
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-1:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-2{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-2:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-3{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-3:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-4{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-4:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-5{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-5:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-6{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-6:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-7{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-7:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-8{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: start;
}
.grid-item-8:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.grid-item-9{
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: startss;
}
.grid-item-9:hover{
	box-shadow: 1px 2px 4px 8px rgb(211, 214, 219, 0.8);
	border-radius: 2px;
}
.shop-body-1 .shop-body-2, .grid-container{
	margin-top: 6px;
}
.shop-body-1 h2{
	font-weight: 100;
	font-size: 30px;
}
.shop-body-1 .shop-body-2, h1{
	font-size: 20px;
	font-weight: 100;
}
.shop-body-1{
	margin-top: 100px;
	width: 68%;
	height: 95vh;
	position: relative;
	transform: translate(-50%,0%);
	left: 50%;
}
.shop-body-2{
	margin-top: 20px;
	width: 68%;
	height: 95vh;
	position: relative;
	transform: translate(-50%,0%);
	left: 50%;
}
.flash-sale{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.flash-sale ul{
	list-style: none;
	margin-left: 20px;
	justify-content: space-between; 
	display: flex;
}
.flash-sale ul li{
	padding: 5px;
	margin: 0 5px;
	background-color: red;
}
.grid-container a img{
	object-fit: fill;
	width: 100%;
	height: 60%;
}
.flash-sale h2{
	font-weight: 100;
	font-size: 30px;
	animation: flashy-text 0.1s linear infinite;
}